.App {
  text-align: center;
}

.App-header-light {
  background-color: #60baff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #cfdf1a;
}

.App-header-dark {
  background-color: #12093d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-light {
  cursor: pointer;
  background-color: #60baff;
  color: #cfdf1a;
  border: solid 1px #cfdf1a;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: .75rem;
  font-weight: bold;
  margin: 10px;
  transition: ease-in-out 0.2s;
}

.button-light:hover {
  background-color: #cfdf1a;
  color: #60baff;
}

.button-dark {
  cursor: pointer;
  background-color: #12093d;
  color: white;
  border: solid 1px white;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: .75rem;
  font-weight: bold;
  margin: 10px;
  transition: ease-in-out 0.2s;
}

.button-dark:hover {
  background-color: white;
  color: #12093d;
}
